:root{
    /* Main */
    --cor-fundo-main: #412416;
    --cor-fundo-segundaria: #efdabb;
    --cor-fundo-button: #727351;
    --cor-fundo-button-hover: #4e4c33;

    --font-size-main: 20px;
    --font-size-segundaria: 18px;

    /* Media */
    --font-size-media-segundaria: 18px;
}

body{
    margin: 0% 0% 0% 0%;
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    display: flex;
    background-color: var(--cor-fundo-main);
}


.block{
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0%;
    padding-top: 0%;
    padding-left: none;
    border-left: none;
    height: 100vh;
    width: 30%;
    background-color: var(--cor-fundo-segundaria);
}

.block img{
    width: 70%;
    padding-top: 45%;
    padding-left: 28%;
    
}

.cadastro{
    width: 40%;
    height: 80vh;

    background-color: var(--cor-fundo-segundaria);

    margin-left: 15%;
    margin-top: 6%;
    border-radius: 3%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro .title{
    display: flex;
    align-items: center;
    font-size: var(--font-size-main);
    color: #412416;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username, .user-email2, .password2, .conf-password2{
    align-self: flex-start;
    margin-left: 5%;
    margin-bottom: 0.5%;
    font-size: var(--font-size-segundaria);
    color: var(--cor-fundo-main);
}

.user-input, .input-email2, .input-password2, .conf-input-password2{
    margin-top: .5rem;
    margin-bottom: .5rem;

    width: 90%;
    height: 1rem;

    border-radius: 7px;

    padding: 1%;

    font-size: var(--font-size-segundaria);
}

select{
    display: flex;
    margin-left: 5%;
    margin-top: 2%;
    align-self: flex-start;
}

.btn{
    height: 8vh;
    width: 40%;

    border-radius: 10px;
    border: none;

    margin-top: 3%;
    margin-left: 30%;

    background-color: var(--cor-fundo-button);
    color: #ffff;

    font-size: var(--font-size-segundaria);
    cursor: pointer;

    align-self: baseline;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover{
    background-color: var(--cor-fundo-button-hover);
}

@media (max-width:740px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0;
        padding: 0;

        height: 100vh;
    }

    .block{
        display: none;
    }

    .cadastro{
        width: 90%;
        height: 75%;
        padding: 2%;

        box-sizing: border-box;

        display: flex; 
        flex-direction: column; 
        justify-content: flex-start;
        align-items: center;
       

        margin: 0px auto;
    }

    .cadastro .title{
        align-self: center;
        margin-top: .5rem;
        margin-bottom: 1rem;
    }

    .email-user, .password-user{
        font-size: var(--font-size-media-segundaria);
        margin-bottom: .5rem;
    }

    .password-input,.email-input{
        height: 2rem;
        margin-bottom: 2rem;
    }

    .btn{
        height: 3rem;
    }

}
