:root {
    /* Cores principais */
    --cor-fundo-main: #201814;  /* Cor de fundo principal */
    --cor-fundo-segundaria: #f7f3ee;  /* Cor de fundo secundária */
    --cor-fundo-button: #5f2323;  /* Cor do fundo dos botões */
    --cor-fundo-button-hover: #231111;  /* Cor do fundo dos botões ao passar o mouse */
    --cor-font-main: #ffffff;  /* Cor principal da fonte */
    --cor-quit-hover: #D3AD82;  /* Cor ao passar o mouse para 'sair' */
    --cor-table-head: #000000;  /* Cor de fundo da cabeça da tabela */
    --cor-table-row: #5a5a5a;  /* Cor de fundo das linhas da tabela */
    --var-button-cad: #727351;  /* Cor do botão de cadastro */
    --var-button-cad-hover: #4e4c33;  /* Cor do botão de cadastro ao passar o mouse */

    /* Tamanhos de fontes */
    --font-size-main: 30px;
    --font-size-segundaria: 20px;
    --font-size-button: 1.1vw;
}

/* Resets e estilizações globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cor-font-main); /* Cor de texto principal */
}

/* Garantir que o texto dos inputs, selects e textareas seja preto */
input.form-control, 
select.form-control, 
textarea.form-control,
.form-label {
    color: black;
    background-color: white; /* Garantir que o fundo seja branco */
}

/* Garantir que o texto de placeholders seja preto */
::placeholder {
    color: black;
}

/* Estilização para quando os inputs, selects ou textareas tiverem o foco */
input.form-control:focus, 
select.form-control:focus, 
textarea.form-control:focus {
    color: black;
    background-color: white; /* Garantir o fundo branco */
    border-color: #80bdff; /* Cor de borda padrão do foco */
}

/* Corpo da página */
body {
    background-color: var(--cor-fundo-segundaria);
    color: var(--cor-font-main);
}

/* Garantir que as labels também tenham o texto preto */
.form-label {
    color: black;
}

/* Estilo do botão do formulário */
.btn {
    color: black; /* Cor do texto do botão */
}

/* Botão do formulário */
.btn-primary, .btn-secondary {
    background-color: #007bff; /* Cor original do botão primário */
    color: white; /* Cor do texto no botão */
}

/* Hover no botão */
.btn:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

/* Estilo para o cabeçalho de navegação */
#navbarMenu {
    background-color: var(--cor-fundo-main);
    color: var(--cor-font-main);
}

#navbarMenu .nav-link {
    color: var(--cor-font-main);
}

#navbarMenu .nav-link:hover {
    color: var(--cor-quit-hover);
}

/* Estilo para links ativos na navegação */
.nav-link.active {
    background-color: var(--cor-fundo-button) !important; /* Cor de fundo do link ativo */
    color: var(--cor-font-main) !important;
}

.nav-link.active:hover {
    background-color: var(--cor-fundo-button-hover) !important;
    color: var(--cor-font-main) !important;
}

/* Estilo para o botão de hambúrguer */
#hamburgerButton i {
    color: var(--cor-font-main);
}

/* Estilos para o botão primário */
.btn-primary {
    background-color: var(--cor-fundo-button) !important;
    color: var(--cor-font-main) !important;
    border: none !important;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: var(--cor-fundo-button-hover) !important;
}

/* Estilo para os filtros de pesquisa */
.search .form-control,
.filtro .form-control {
    background-color: var(--cor-font-main);
    border: 1px solid var(--cor-table-row);
    color: #000000;
}

.search .form-control:focus,
.filtro .form-control:focus {
    border-color: var(--cor-fundo-button);
    box-shadow: 0 0 0 0.25rem rgba(95, 35, 35, 0.25);
}

/* Estilo para a tabela */
.table {
    background-color: var(--cor-fundo-main) !important;
    border-radius: 8px !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
}

.table thead {
    background-color: var(--cor-fundo-button) !important;
    color: var(--cor-font-main);
}

.table tbody tr {
    background-color: var(--cor-table-row) !important;
}

.table tbody tr:hover {
    background-color: var(--cor-quit-hover) !important;
}

/* Estilos para o select e seus options */
select {
    background-color: var(--cor-font-main);
    color: var(--cor-fundo-main); /* Cor do texto dentro do select */
    border: 1px solid var(--cor-table-row);
}

select:focus {
    border-color: var(--cor-fundo-button);
    box-shadow: 0 0 0 0.25rem rgba(95, 35, 35, 0.25);
}

select option {
    background-color: var(--cor-fundo-segundaria);
    color: var(--cor-fundo-main); /* Cor do texto dentro dos options */
}

/* Alinhamento de informações */
.info-alinhamento {
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.text-center {
    text-align: center;
    color: gray;
}

.info-alinhamento p {
    font-size: var(--font-size-segundaria);
    color: var(--cor-font-main);
}

/* Estilos para cabeçalhos de tabelas */
th {
    background-color: var(--cor-table-head);
    color: var(--cor-font-main);
}

/* Estilo para o botão sair */
.btn-sair {
    background-color: var(--cor-fundo-button) !important;
    color: var(--cor-font-main) !important;
    border: none !important;
}

.btn-sair:hover {
    background-color: #d32f2f !important;
    color: #ffffff !important;
}


/* Títulos de todos os modais */
.modal-title {
    color: black; /* Definindo o texto dos títulos dos modais como preto */
}

/* Placeholder de inputs e selects nos modais */
.modal .form-control::placeholder {
    color: black; /* Definindo a cor do texto dos placeholders como preto */
}

/* Para garantir que os inputs e selects dentro dos modais também fiquem com o texto preto */
.modal .form-control {
    color: black;
}

/* Se você tiver modais específicos e quiser garantir que eles sigam a mesma regra */
.modal-content {
    color: black; /* Garantindo que o texto dentro do modal seja preto */
}


/* Estilização da navegação de paginação */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    list-style: none;
}

.page-item {
    margin: 0 5px; /* Espaçamento entre os itens da página */
}

.page-link {
    padding: 10px 15px;
    font-size: 1rem;
    color: var(--cor-fundo-button) !important; /* Cor do texto do link (agora está no estado normal) */
    background-color: var(--cor-font-main) !important; /* Cor de fundo do link (agora está no estado normal) */
    border: 1px solid var(--cor-table-row); /* Borda para o link */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
}

.page-link:hover {
    color: var(--cor-font-main) !important; /* Cor do texto ao passar o mouse (inversão) */
    background-color: var(--cor-fundo-button) !important; /* Cor de fundo ao passar o mouse (inversão) */
}

.page-item.disabled .page-link {
    color: var(--cor-table-row) !important; /* Cor para links desabilitados */
    background-color: var(--cor-fundo-segundaria) !important; /* Cor de fundo para links desabilitados */
    pointer-events: none; /* Impede interação com links desabilitados */
}

.page-item.active .page-link {
    color: var(--cor-fundo-button) !important; /* Cor do texto da página ativa */
    background-color: var(--cor-font-main) !important; /* Cor de fundo da página ativa */
    font-weight: bold;
    border: 1px solid var(--cor-fundo-button); /* Cor da borda na página ativa */
}

.page-item:first-child .page-link {
    border-radius: 5px 0 0 5px; /* Bordas arredondadas na primeira página */
}

.page-item:last-child .page-link {
    border-radius: 0 5px 5px 0; /* Bordas arredondadas na última página */
}


/* Estilo das labels */
.form-label {
    color: #000000; /* Cor preta */
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}



/* Estilo para o menu no mobile */
@media (max-width: 992px) {
    /* Menu lateral */
    #navbarMenu {
        background-color: transparent !important;
        position: absolute;
        color: var(--cor-font-main) !important; /* Garantir texto claro */
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh; /* O menu ocupa toda a altura da tela */
        width: 250px;  /* Largura do menu */
        background-color: var(--cor-fundo-main) !important; /* Mesmo fundo do desktop */
        color: var(--cor-font-main) !important; /* Texto consistente */
        z-index: 1050; /* Garante que o menu fique acima do conteúdo */
        transform: translateX(-100%); /* Inicia fora da tela */
        transition: transform 0.3s ease; /* Transição suave */
    }

    /* Quando o menu está visível */
    .collapse.show {
        transform: translateX(0); /* Menu aparece na tela */
    }

    /* Overlay de fundo quando o menu estiver visível */
    .content-overlay {
        display: none;
    }

    .collapse.show ~ .content-overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1049; /* Fica abaixo do menu, mas sobre o conteúdo */
    }

    /* Bloqueia o scroll do corpo quando o menu está visível */
    body {
        overflow: hidden; /* Desativa o scroll do corpo */
    }

    #hamburgerButton {
        position: fixed;
        top: 10px; /* Distância do topo */
        left: 10px; /* Distância da lateral esquerda */
        z-index: 1060; /* Garantir que o botão fique acima do menu e do conteúdo */
        background-color: var(--cor-fundo-button) !important; /* Cor do botão hambúrguer */
        color: var(--cor-font-main) !important; /* Cor do ícone */
        border: none; /* Remove a borda */
        padding: 8px; /* Ajuste de espaçamento */
        border-radius: 4px; /* Suaviza as bordas */
        transition: background-color 0.3s ease; /* Efeito suave ao passar o mouse */
    }

    /* Ajuste para o conteúdo principal, ele deve ocupar a tela inteira */
    .main-content {
        margin-top: 60px; /* Ajuste conforme necessário para que o conteúdo não sobreponha o menu */
        width: 100%; /* Garantir que o conteúdo ocupe toda a largura */
        overflow-x: hidden; /* Desativa o scroll horizontal */
        overflow-y: auto; /* Permite scroll vertical se necessário */
    }

    /* Evita o scroll horizontal na tela */
    html, body {
        overflow-x: hidden; /* Bloqueia o scroll horizontal em todo o documento */
    }

    #formModalCadastrar, #formModalAtualizar {
        z-index: 1061;
    }
}

/* Menu fixo no desktop */
@media (min-width: 992px) {
    .d-flex {
        display: flex;
    }

    #navbarMenu {
        position: relative;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        z-index: 1050;
        transition: transform 0.3s ease;
    }

    /* Exibe a navbar lateral no desktop sempre visível */
    #navbarNav {
        display: flex;
        flex-direction: column;
        margin-top: 60px; /* Ajuste a margem superior, se necessário */
    }

    /* Esconde o botão hambúrguer no desktop */
    .navbar-toggler {
        display: none;
    }
}
