:root{
    /* Main */
    --cor-fundo-main: #412416;
    --cor-fundo-segundaria: #eed9b9;
    --cor-fundo-button: #472323;
    --cor-fundo-button-hover: #231111;
    --cor-font-main: #ffffff;
    --cor-quit-hover: #D3AD82;
    --cor-table-head: #000000;
    --cor-table-row: #5a5a5a;

    --font-size-main: 30px;
    --font-size-segundaria: 26px;
    --font-size-button: 1.1vw;

    /* Media */
    --font-size-media-main: 20px;
    --font-size-media-segundaria: 18px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo-main);
}

h1 {
    position: absolute; 
    top: 5%; 
    left: 60%; 
    transform: translate(-50%, -50%); 
    display: flex;
    font-size: var(--font-size-main);
    font-style: bold;
    color: var(--cor-font-main);
}
.hamburger{
    font-size: var(--font-size-main);
    padding: .5rem;
    position: fixed;
    top: .4rem;
    left: .4rem;
    z-index: 1001;
    background-color: #D9D9D9;
    color: var(--cor-fundo-segundaria);
    border-radius: 5px;
    display: none;
}

.navbar {
    margin: 0;
    display: flex;
    height: 100vh;
    width: 30vh;
    border: 3px solid var(--cor-fundo-segundaria);
    background-color: var(--cor-fundo-segundaria);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

li {
    list-style: none;
}

.quit{
    height: 5%;
    width: 40%;
    border: 2px solid var(--cor-fundo-button-hover);
    background-color: var(--cor-fundo-button-hover);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.quit a{
    text-decoration: none;
    color: var(--cor-font-main);
    font-size: var(--font-size-segundaria);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quit:hover{
    height: 6%;
    width: 45%;
    border: 2px solid var(--cor-quit-hover);
    background-color: var(--cor-quit-hover);
}

.quit a:hover{
    border: none;
    color: var(--cor-fundo-button-hover);
}

.tools ul{
    flex-direction: column;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--cor-fundo-button);
    color: var(--cor-font-main);
    margin-top: 2.0rem;
    width: 9vw;
    height: 9vh;
    justify-content: center;
    margin-left: -3.4rem;
    text-decoration: none;
    border: 2px solid var(--cor-fundo-button);
    font-size: var(--font-size-button);
    transition: background-color 0.25s;
}

.first {
    margin-top: 3rem;
}

.box:hover{
    background-color: var(--cor-fundo-button-hover);
}

.box.choose{
    background-color: var(--cor-fundo-button-hover);
    color: var(--cor-font-main);
}

.card {
    position: absolute; 
    top: 55%; 
    left: 60%; 
    transform: translate(-50%, -50%); 
    display: flex;
}

.dashboard {
    width: 150vh;
    height: 80vh;
    border: 1px solid var(--cor-fundo-segundaria);
    background-color: var(--cor-fundo-segundaria);
    top: 0px;
    right: 0px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.search-dropdown {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.8rem;
    height: 5%;
}

.search{
    display: flex;
    flex-grow: 1;
    margin-left: 4rem;
}

.search input{
    font-size: var(--font-size-segundaria);
    width: 90%;
    border-radius: 8px;
}

.dropdown{
    margin-right: 8rem;
    font-size: var(--font-size-main);
    cursor: pointer;
}

.dropdown-value{
    display: none;
}

.dashboard table{
    border: 2px double black;
}

.dashboard thead{
    background-color: var(--cor-table-head);
    color: var(--cor-font-main);
}

.dashboard td{
    background-color: var(--cor-table-row);
    color: var(--cor-font-main);
}


@media (max-width:740px) {
    h1{
        font-size: var(--font-size-media-main);
        margin-left: -2.3rem;
        z-index: 999;
    }
    .hamburger {
        display: block;
    }

    /* Esconder a navbar */
    .navbar {
        width: 0%;
    }

    /* Quando a navbar estiver aberta */
    .navbar.open {
        width: 40%;
        height: 100vh;
        z-index: 1002;
    }

    .navbar img{
        width: 3rem;
        height: 3rem;
    }

    .navbar p{
        font-size: var(--font-size-media-segundaria);
    }

    .quit{
        width: 25%;
        height: 3%;
    }

    .quit a{
        font-size: var(--font-size-media-segundaria);
    }

    .box{
        width: 28vw;
        height: 9vh;
        font-size: var(--font-size-button);
    }

    /* Ajustar o conteúdo */
    .card {
        z-index: 999;
        width: 80vw;
        height: 80vh;
        margin: 0px auto;
        margin-left: -2.3rem;
    }

    .search{
        width: 80vw;
        height: 3vh;
    }

    .search input{
        font-size: var(--font-size-media-segundaria);
    }
}
